    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    html, body {
        overflow-x: hidden;
        max-width: 100%;

    }

    /* body {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        overflow-x: hidden;
    } */
    .main {
        max-width: 100%;
        overflow-x: hidden;
        height: 2180px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
/* 
    .main .all-containers {
        height:4800px;
    } */

    /* nav style  */
    .main .nav {
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        width:100vw;
    }

    .main .nav .left {
        display: flex;
        justify-content:center;
        align-items: center;
        position: relative;
        width: 200px;
        max-height: 40px;
    }

    .main .nav .left img {
        height:40px;
        cursor: pointer;
        width:50px;
    }

    .main .nav .center {
        height: 40px;
        width: 50%;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor:context-menu;
    }

    .main .nav .center h1 {
        font-size: 30px;
        font-family: 'Vast Shadow', cursive;
        cursor: pointer;
        color:rgb(240, 134, 36);
    }

    .main .nav .right .burger {
        height: 40px;
        width: 150px;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        justify-content: space-evenly;
        cursor: pointer;
    }

    .main .nav .right .burger .line1 {
        background-color:rgb(236, 146, 43);
        height: 0.3rem;
        width: 35px;
    }


    .main .nav .right .burger .line2 {
        background-color:rgb(236, 146, 43);
        height: 0.3rem;
        width: 35px;
    }


    .main .nav .right .burger .line3 {
        background-color:rgb(236, 146, 43);
        height: 0.3rem;
        width: 35px;
    }

    /* nav style done */

    /* container 1 style */
    .main .all-containers .container1 {
        background-image:url(./image/pexels-caeli-team-3714960.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size:cover;
        height: 620px;
        width: 100%;
        background-color:rgba(2, 2, 2, 0.425);
        position:relative;
        display: flex;
        align-items:center;
        justify-content:center;
        max-width: 100%;
        overflow: hidden;
    }

    .all-containers .container1 .texts {
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
    }

    .all-containers .container1 .texts p {
        font-size:20px;
        color:aliceblue;
        cursor: default;

    }

    .all-containers .container1 .texts p span {
        color:rgb(224, 135, 33);
        font-family: 'Vast Shadow', cursive;
        font-size:20px;
        cursor: default;
    }

    .all-containers .container1 .texts input {
        background-color:transparent;
        border:solid 2px;
        padding: 10px 20px;
        color: aqua;
        cursor:pointer;
        margin-top: 30px;
        letter-spacing: 2px;
        transition: all 0.8s ease;
        border-radius: 20px;
    }

    .all-containers .container1 .texts input:hover {
        background-color:aqua;
        color: rgb(134, 9, 124);
        letter-spacing: 2px;
    }

    /* container 1 done */

    /* container 2 style */

    .main .all-containers .container2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .main .all-containers .container2 .left-container2 {
        width:50%;
        height:400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main .all-containers .container2 .left-container2 .aboutus {
        background-color:white;
        height:250px;
        width:290px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        
    }

    .main .all-containers .container2 .left-container2 .us {
        font-size: 40px;
        font-family: 'Fredericka the Great', cursive;
        color: rgb(231, 158, 47);
    }

    .main .all-containers .container2 .left-container2 p {
        font-size:12px;
        font-family: 'Poppins', sans-serif;
    }

    .main .all-containers .container2 .left-container2 input {
        background-color:transparent;
        border:solid 2px;
        padding: 10px 20px;
        color: rgb(143, 33, 51);
        cursor:pointer;
        letter-spacing: 2px;
        transition: all 0.8s ease;
        border-radius: 20px;

    }

    .main .all-containers .container2 .left-container2 input:hover {
        color:rgb(247, 247, 247);
        background-color: rgb(143, 33, 51);
        letter-spacing: 2px;
    }

    .main .all-containers .container2 .right-container2 {
        background-color: white;
        width:50%;
        height: 400px;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    .main .all-containers .container2 .right-container2 .form {
        border: 10px solid rgb(226, 132, 24);
        border-radius: 5px;
        height: 290px;
        width: 250px;
        display:flex;
        justify-content: center;align-items: center;
        
    }

    .main .all-containers .container2 .right-container2 .form img {
        width:100%;
        height: 100%;
        position: relative;
        left: 20px;
        top:20px;
        transition:all 0.5s ease;
    }

    .main .all-containers .container2 .right-container2 .form img:hover {
        left: 0px;
        top:0px;
        transition:all 0.5s ease;    
    }

    /* container2 is done */

    /* container3 style */
    
    .main .all-containers .container3 .nav-container3 {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background-color:rgb(230, 230, 230);
        background-color: rgb(228, 220, 220);
        height: 200px;
    } 

    .main .all-containers .container3 h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        letter-spacing: 2px;
    }

    .main .all-containers .container3 .store {
        font-family: 'Fredericka the Great', cursive;
        color:rgb(238, 132, 56);
        font-size:45px;
        letter-spacing: 2px;
    }

    .main .all-containers .container3 .taps {
        display: flex;
        justify-content:center;
        align-items:center;
        width:80%;
        height:70px;
    }

    .main .all-containers .container3 .taps ul {
        display: flex;
        list-style-type: none;
        justify-content:space-around;
        align-items:center;
        width:800px;
    }

    .main .all-containers .container3 .taps ul li {
        border: 2px solid black;
        letter-spacing:1px;
        cursor: pointer;
        padding: 5px 10px;
        border-radius:5px;
        transition:all 0.4s linear
    }

    .main .all-containers .container3 .taps ul li:hover{
        background-color:black;
        color:white;
    }

    .main .all-containers .container3 .sr {
        display: flex;
        justify-content:center;
        align-items:center;
        height: 40px;
        margin-top:20px;
    }

    .main .all-containers .container3 .sr i:hover {
        background-color:rgb(69, 77, 185);
    }
    
    .main .all-containers .container3 .sr i {
        transition: all 0.3s ease-in;
        background-color:coral;
        padding:8px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: pointer;
    }

    .main .all-containers .container3 .sr input{
        padding: 10px;
        width: 300px;
        outline: none;
        border:none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        font-family: 'New Rocker', cursive;
        font-size: 13px;
    }

    .main .all-containers .container3 .items {
        background-color: burlywood;
        height: 920px;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .main .all-containers .container3 .items .inside {
        width:90%;
        height:90%;
        display:grid;
        justify-content:center;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
    }

    .main .all-containers .container3 .items .inside .grid1 {
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 1;
    }

    .main .all-containers .container3 .items .inside .grid1 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid1 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }

    .main .all-containers .container3 .items .inside .grid1 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid1 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid1 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid1 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid2 {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 1;
    }

    .main .all-containers .container3 .items .inside .grid2 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid2 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }

    .main .all-containers .container3 .items .inside .grid2 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid2 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid2 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid2 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid2 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    
    }

    .main .all-containers .container3 .items .inside .grid3 {
        display: flex;
        flex-direction: column;
        grid-column: 3;
        grid-row: 1;
    }
    
    .main .all-containers .container3 .items .inside .grid3 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid3 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }

    .main .all-containers .container3 .items .inside .grid3 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid3 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid3 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid3 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid3 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid4 {
        display: flex;
        flex-direction: column;
        grid-column: 4;
        grid-row: 1;
    }
    
    .main .all-containers .container3 .items .inside .grid4 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid4 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid4 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid4 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid4 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid4 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid4 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid5 {
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 2;
    }
    
    .main .all-containers .container3 .items .inside .grid5 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid5 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid5 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid5 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid5 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid5 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid5 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid6 {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 2;
    }
    
    .main .all-containers .container3 .items .inside .grid6 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid6 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid6 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid6 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid6 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid6 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid6 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid7 {
        display: flex;
        flex-direction: column;
        grid-column: 3;
        grid-row: 2;
    }
    
    .main .all-containers .container3 .items .inside .grid7 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid7 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid7 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid7 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid7 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid7 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid7 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid8 {
        display: flex;
        flex-direction: column;
        grid-column: 4;
        grid-row: 2;
    }
    
    .main .all-containers .container3 .items .inside .grid8 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid8 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid8 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid8 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid8 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid8 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid8 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid9 {
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 3;
    }
    
    .main .all-containers .container3 .items .inside .grid9 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid9 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid9 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid9 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid9 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid9 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid9 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid10 {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 3;
    }
    
    .main .all-containers .container3 .items .inside .grid10 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid10 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid10 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid10 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid10 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid10 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid10 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid11 {
        display: flex;
        flex-direction: column;
        grid-column: 3;
        grid-row: 3;
    }
    
    .main .all-containers .container3 .items .inside .grid11 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid11 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid11 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid11 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid11 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid11 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid11 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .main .all-containers .container3 .items .inside .grid12 {
        display: flex;
        flex-direction: column;
        grid-column: 4;
        grid-row: 3;
    }
    
    .main .all-containers .container3 .items .inside .grid12 img {
        height: 200px;
        width: 100%;
        object-fit:cover;
        object-position:center-block;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .main .all-containers .container3 .items .inside .grid12 .buttom {
        height: 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 10px;
        background-color: aliceblue;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
    
    .main .all-containers .container3 .items .inside .grid12 .buttom img {
        height: 30px;
        width: 30px;
    }

    .main .all-containers .container3 .items .inside .grid12 .buttom img:hover {
        color:coral;
    }

    .main .all-containers .container3 .items .inside .grid12 .buttom .buy {
        background-color:rgba(133, 65, 20, 0.726);
        height: 60px;
        width: 50px;
        position: relative;
        left:11px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-bottom-right-radius:10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .main .all-containers .container3 .items .inside .grid12 .buttom .buy:hover {
        background-color:rgb(168, 97, 97);
        color: aliceblue;
    }

    .main .all-containers .container3 .items .inside .grid12 .buttom .buy .by {
        background-color:rgba(48, 48, 184, 0);
        display: flex;
        justify-content:center;
        align-items:center;
    }

    /* its for @midea style page */

    @media screen and (max-width:588px) {
        .main .nav .center h1 {
            font-size: 20px;
            font-family: 'Vast Shadow', cursive;
            cursor: pointer;
            color:rgb(240, 134, 36);
        }

        .main .all-containers .container3 .items{
            height:1250px;
        }

        .main .all-containers .container3 .items .inside {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }

        .main .all-containers .container3 .items .inside .grid1 {
            grid-column: 1;            
            grid-row: 1;            
        }
        .main .all-containers .container3 .items .inside .grid2 {
            grid-column: 2;            
            grid-row: 1;            
        }
        .main .all-containers .container3 .items .inside .grid3 {
            grid-column: 3;            
            grid-row: 1;            
        }
        .main .all-containers .container3 .items .inside .grid4 {
            grid-column: 1;            
            grid-row: 2;            
        }
        .main .all-containers .container3 .items .inside .grid5 {
            grid-column: 2;            
            grid-row: 2;            
        }
        .main .all-containers .container3 .items .inside .grid6 {
            grid-column: 3;            
            grid-row: 2;            
        }
        .main .all-containers .container3 .items .inside .grid7 {
            grid-column: 1;            
            grid-row: 3;            
        }
        .main .all-containers .container3 .items .inside .grid8 {
            grid-column: 2;
            grid-row: 3;            
        }
        .main .all-containers .container3 .items .inside .grid9 {
            grid-column: 3;            
            grid-row: 3;            
        }
        .main .all-containers .container3 .items .inside .grid10 {
            grid-column: 1;            
            grid-row: 4;            
        }
        .main .all-containers .container3 .items .inside .grid11 {
            grid-column: 2;            
            grid-row: 4;            
        }
        .main .all-containers .container3 .items .inside .grid12 {
            grid-column: 3;            
            grid-row: 4;            
        }
        .main .all-containers .container3 .items .inside .grid12 {
            grid-column: 1;            
            grid-row: 4;            
        }

        .main .all-containers .container2 .right-container2 {
            width:240px;
        }

        .main .all-containers .container2 .right-container2 .form {
            width:200px;
        }
        .main .all-containers .container2 .left-container2 .aboutus {
            width:230px;
        }

        .main .all-containers .container2 .left-container2 {
            width:240px;
        }
    }
    @media screen and (max-width:479px) {
        .main .nav .center h1 {
            font-size: 15px;
            font-family: 'Vast Shadow', cursive;
            cursor: pointer;
            color:rgb(240, 134, 36);
        }

        .main .all-containers .container3 .items{
            height:2200px;
        }
        .main{
            height:3470px;
        }

        
        .main .all-containers .container3 .items .inside {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        .main .all-containers .container3 .items .inside .grid1 {
            grid-column: 1;            
            grid-row: 1;            
        }
        .main .all-containers .container3 .items .inside .grid2 {
            grid-column: 2;            
            grid-row: 1;            
        }
        .main .all-containers .container3 .items .inside .grid3 {
            grid-column: 1;            
            grid-row: 2;            
        }
        .main .all-containers .container3 .items .inside .grid4 {
            grid-column: 2;            
            grid-row: 2;            
        }
        .main .all-containers .container3 .items .inside .grid5 {
            grid-column: 1;            
            grid-row: 3;            
        }
        .main .all-containers .container3 .items .inside .grid6 {
            grid-column: 2;            
            grid-row: 3;            
        }
        .main .all-containers .container3 .items .inside .grid7 {
            grid-column: 1;            
            grid-row: 4;            
        }
        .main .all-containers .container3 .items .inside .grid8 {
            grid-column: 2;
            grid-row: 4;            
        }
        .main .all-containers .container3 .items .inside .grid9 {
            grid-column: 1;
            grid-row: 5;            
        }
        .main .all-containers .container3 .items .inside .grid10 {
            grid-column: 2;            
            grid-row: 5;            
        }
        .main .all-containers .container3 .items .inside .grid11 {
            grid-column: 1;            
            grid-row: 6;            
        }
        .main .all-containers .container3 .items .inside .grid12 {
            grid-column: 2;            
            grid-row: 6;            
        }

        .main .all-containers .container2 .right-container2 {
            width:160px;
        }

        .main .all-containers .container2 .right-container2 .form {
            width:150px;
        }
        .main .all-containers .container2 .left-container2 .aboutus {
            width:150px;
        }

        .main .all-containers .container2 .left-container2 {
            width:160px;
        }

        .main .all-containers .container3 .nav-container3 .taps {
            width:100%;
        }

        .main .all-containers .container3 .nav-container3 .taps ul {
            width:100%;
            font-size: 10px;
        }

    }
    @media screen and (max-width:400px) {
        .main .nav .center h1 {
            font-size: 9px;
            font-family: 'Vast Shadow', cursive;
            cursor: pointer;
            color:rgb(240, 134, 36);
        }
        .main .all-containers .container1 .center .text p span {
            font-size: 0px;
        }

        .main .all-containers .container3 .items{
            height:2200px;
        }
        .main{
            height:3470px;
        }

        
        .main .all-containers .container3 .items .inside {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        .main .all-containers .container3 .items .inside .grid1 {
            grid-column: 1;            
            grid-row: 1;            
        }
        .main .all-containers .container3 .items .inside .grid2 {
            grid-column: 2;            
            grid-row: 1;            
        }
        .main .all-containers .container3 .items .inside .grid3 {
            grid-column: 1;            
            grid-row: 2;            
        }
        .main .all-containers .container3 .items .inside .grid4 {
            grid-column: 2;            
            grid-row: 2;            
        }
        .main .all-containers .container3 .items .inside .grid5 {
            grid-column: 1;            
            grid-row: 3;            
        }
        .main .all-containers .container3 .items .inside .grid6 {
            grid-column: 2;            
            grid-row: 3;            
        }
        .main .all-containers .container3 .items .inside .grid7 {
            grid-column: 1;            
            grid-row: 4;            
        }
        .main .all-containers .container3 .items .inside .grid8 {
            grid-column: 2;
            grid-row: 4;            
        }
        .main .all-containers .container3 .items .inside .grid9 {
            grid-column: 1;
            grid-row: 5;            
        }
        .main .all-containers .container3 .items .inside .grid10 {
            grid-column: 2;            
            grid-row: 5;            
        }
        .main .all-containers .container3 .items .inside .grid11 {
            grid-column: 1;            
            grid-row: 6;            
        }
        .main .all-containers .container3 .items .inside .grid12 {
            grid-column: 2;            
            grid-row: 6;            
        }

        .main .all-containers .container2 .right-container2 {
            width:160px;
        }

        .main .all-containers .container2 .right-container2 .form {
            width:150px;
        }
        .main .all-containers .container2 .left-container2 .aboutus {
            width:150px;
        }

        .main .all-containers .container2 .left-container2 {
            width:160px;
        }

        .main .all-containers .container3 .nav-container3 .taps {
            width:100%;
        }
        .main .all-containers .container3 .nav-container3 .taps ul li {

        }

        .main .all-containers .container3 .nav-container3 .taps ul {
            width:100%;
            font-size: 10px;
        }
    }