    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    /* body {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        overflow-x: hidden;
    } */
    .main {
        max-width: 100%;
        overflow-x: hidden;
        height:160vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main .all-containers {
        height:153vh;
    }

    /* nav style  */
    .main .nav {
        background-color: aliceblue;
        display: flex;
        align-items: center;
        height:7vh;
        width:100vw;
    }

    .main .nav .left {
        display: flex;
        justify-content:center;
        align-items: center;
        position: relative;
        width: 20vw;
        max-height: 7vh;
    }

    .main .nav .left img {
        height:7vh;
        cursor: pointer;
        width:60px;
    }

    .main .nav .center {
        height: 7vh;
        width: 60vw;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor:context-menu;
    }

    .main .nav .center h1 {
        font-size: 4vh;
        font-family: 'Vast Shadow', cursive;
        cursor: pointer;
        color:rgb(240, 134, 36);
    }

    .main .nav .right .burger {
        height: 7vh;
        width: 20vw;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        justify-content: space-evenly;
        cursor: pointer;
    }

    .main .nav .right .burger .line1 {
        background-color:rgb(236, 146, 43);
        height: 0.3rem;
        width: 35px;
    }


    .main .nav .right .burger .line2 {
        background-color:rgb(236, 146, 43);
        height: 0.3rem;
        width: 35px;
    }


    .main .nav .right .burger .line3 {
        background-color:rgb(236, 146, 43);
        height: 0.3rem;
        width: 35px;
    }

    /* nav style done */

    /* container 1 style */
    .main .all-containers .container1 {
        background-image:url(./image/pexels-caeli-team-3714960.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size:cover;
        height: 93vh;
        width: 100%;
        background-color:rgba(2, 2, 2, 0.425);
        position:relative;
        display: flex;
        align-items:center;
        justify-content:center;
        max-width: 100%;
        overflow: hidden;
    }

    .all-containers .container1 .texts {
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
    }

    .all-containers .container1 .texts p {
        font-size:20px;
        color:aliceblue;
        cursor: default;

    }

    .all-containers .container1 .texts p span {
        color:rgb(224, 135, 33);
        font-family: 'Vast Shadow', cursive;
        font-size:30px;
        cursor: default;
    }

    .all-containers .container1 .texts input {
        background-color:transparent;
        border:solid 2px;
        padding: 10px 20px;
        color: aqua;
        cursor:pointer;
        margin-top: 5vh;
        letter-spacing: 2px;
        transition: all 0.8s ease;
        border-radius: 20px;
    }

    .all-containers .container1 .texts input:hover {
        background-color:aqua;
        color: rgb(134, 9, 124);
        letter-spacing: 2px;
    }

    /* container 1 done */

    /* container 2 style */
    
    .main .all-containers .container2 .left-container2 {
        width:50vw;
        height:60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main .all-containers .container2 .left-container2 .aboutus {
        background-color:white;
        height:35vh;
        width:35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        
    }

    .main .all-containers .container2 .left-container2 .us {
        font-size: 40px;
        font-family: 'Fredericka the Great', cursive;
        color: rgb(231, 158, 47);
    }

    .main .all-containers .container2 .left-container2 p {
        font-size:12px;
        font-family: 'Poppins', sans-serif;
    }

    .main .all-containers .container2 .left-container2 input {
        background-color:transparent;
        border:solid 2px;
        padding: 10px 20px;
        color: rgb(143, 33, 51);
        cursor:pointer;
        letter-spacing: 2px;
        transition: all 0.8s ease;
        border-radius: 20px;

    }

    .main .all-containers .container2 .left-container2 input:hover {
        color:rgb(247, 247, 247);
        background-color: rgb(143, 33, 51);
        letter-spacing: 2px;
    }